@use "../../../../shared/styles/tokens/" as t;
@use "../../../../shared/styles/lib/responsive-design/fluid-scale" as fs;

.sectionDevelopmentProcess {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  font-family:
    Noto Sans,
    sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 12px;
}

.title {
  @include t.typescale("display-medium");

  font-size: fs.fluid-scale(
    t.get-typescale-value("headline-small"),
    t.get-typescale-value("display-medium"),
    t.$md-sys-viewport-compact,
    t.$md-sys-viewport-expanded
  );

  text-align: center;
  margin-bottom: t.$md-sys-spacing-10;
}
