.sectionDevelopmentProcess {
  background-color: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface);
  padding: 0 12px;
}

.title {
  color: var(--md-sys-color-primary);
  font-size: clamp(34px, 8.2618384401px + 3.0640668524vw, 45px);
  font-weight: 700;
  text-align: center;
}
