@use "../../../shared/styles/tokens/" as t;
@use "../../../shared/styles/lib/responsive-design/_fluid-scale.scss/" as fs;
@use "../../../shared/styles/lib/layout/_projects-layout.scss" as pl;

.projectsSection {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);

  padding-block: fs.fluid-scale(
    t.$md-sys-spacing-16,
    t.$md-sys-spacing-20,
    t.$md-sys-viewport-compact,
    t.$md-sys-viewport-expanded
  );

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: t.$md-sys-spacing-20;

    h2 {
      @include t.typescale("display-medium");

      text-align: center;
    }

    .projectList {
      @include pl.projects-layout();
    }
  }
}
