.brandName {
  text-align: center;
  font-size: clamp(2.25rem, 2.25rem + 4vw, 3rem);
  letter-spacing: -0.025em;
  color: #d4d4d8;
  overflow: hidden;

  @media (min-width: 300px) {
    font-size: clamp(3rem, 1.687rem + 7vw, 8.25rem);
  }
}
