$md-sys-elevation-0: none;
$md-sys-elevation-1:
  0px 1px 3px 1px rgba(0, 0, 0, 0.12),
  0px 1px 2px 1px rgba(0, 0, 0, 0.24);
$md-sys-elevation-2:
  0px 3px 6px 1px rgba(0, 0, 0, 0.12),
  0px 1px 4px 1px rgba(0, 0, 0, 0.24);
$md-sys-elevation-3:
  0px 5px 8px 2px rgba(0, 0, 0, 0.12),
  0px 2px 6px 2px rgba(0, 0, 0, 0.24);
$md-sys-elevation-4:
  0px 7px 10px 3px rgba(0, 0, 0, 0.12),
  0px 3px 8px 3px rgba(0, 0, 0, 0.24);
$md-sys-elevation-5:
  0px 9px 12px 4px rgba(0, 0, 0, 0.12),
  0px 4px 10px 4px rgba(0, 0, 0, 0.24);
