@use "tokens" as elevation-tokens;

/// Use for applying elevation to the element
/// @param {Number} $level - level of the elevation (0-5)
@mixin elevation($level) {
  @if $level == 0 {
    box-shadow: elevation-tokens.$md-sys-elevation-0;
  } @else if $level == 1 {
    box-shadow: elevation-tokens.$md-sys-elevation-1;
  } @else if $level == 2 {
    box-shadow: elevation-tokens.$md-sys-elevation-2;
  } @else if $level == 3 {
    box-shadow: elevation-tokens.$md-sys-elevation-3;
  } @else if $level == 4 {
    box-shadow: elevation-tokens.$md-sys-elevation-4;
  } @else if $level == 5 {
    box-shadow: elevation-tokens.$md-sys-elevation-5;
  } @else {
    @error "Unknown elevation level: #{$level}. Valid: 0-5";
  }
}
