@use "../../../shared/styles/tokens" as t;

.servicesSection {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: t.$md-sys-spacing-10;

    padding-block: t.$md-sys-spacing-20;

    h2 {
      @include t.typescale("display-medium");
    }

    .services {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: t.$md-sys-spacing-12;

      .tabSelectors {
        display: flex;
        justify-content: center;
        gap: t.$md-sys-spacing-1;

        width: fit-content;
        border-radius: t.$md-sys-shape-corner-value-extra-large;

        background-color: var(--md-sys-color-surface-container-highest);
        color: var(--md-sys-color-on-surface);

        .selectTabBtn {
          position: relative;

          @include t.typescale-emphasized("title-medium");
          font-weight: 500;
          padding-inline: t.$md-sys-spacing-4;
          border-radius: t.$md-sys-shape-corner-value-extra-extra-large;

          background-color: var(--md-sys-color-surface-container-highest);
          color: var(--md-sys-color-on-surface);

          &.active {
            pointer-events: none;

            border-radius: t.$md-sys-shape-corner-value-extra-large;

            background-color: var(--md-sys-color-tertiary);
            color: var(--md-sys-color-on-tertiary);
          }

          &::before {
            content: "";
            pointer-events: none;

            position: absolute;
            inset: 0;

            opacity: 0;

            background-color: var(--md-sys-color-on-surface);
            border-radius: inherit;

            @include t.effects("fast");
            transition-property: opacity;
          }

          &:hover {
            &::before {
              opacity: t.$md-sys-state-hover-state-layer-opacity;
            }
          }

          &:focus-visible {
            outline: 2px solid var(--md-sys-color-surface-container-highest);
            outline-offset: 2px;

            &::before {
              opacity: t.$md-sys-state-focus-state-layer-opacity;
            }
          }

          &:active {
            &::before {
              opacity: t.$md-sys-state-pressed-state-layer-opacity;
            }
          }
        }
      }

      .serviceTab {
        display: flex;
        flex-wrap: wrap;
        column-gap: t.$md-sys-spacing-10;
        row-gap: t.$md-sys-spacing-6;

        .serviceCard {
          --line-width: 0;

          position: relative;

          min-width: 200px;
          @include t.typescale("title-small");
          padding-block: t.$md-sys-spacing-8;
          padding-inline: t.$md-sys-spacing-4;

          border-top: 1px solid var(--md-sys-color-outline-variant);
          border-bottom: 1px solid var(--md-sys-color-outline-variant);

          &::before,
          &::after {
            content: "";
            pointer-events: none;

            position: absolute;
            left: 0;

            width: var(--line-width);
            height: 2px;

            background-color: var(--md-sys-color-outline);

            @include t.spatial("default");
            transition-property: var(--line-width);
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }

          &:hover {
            --line-width: 100%;
          }
        }
      }
    }
  }
}
