@use "../../../shared/styles/tokens" as t;
@use "../../../shared/styles/lib/responsive-design/_fluid-scale.scss" as fs;

.servicesSection {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fs.fluid-scale(
      t.$md-sys-spacing-6,
      t.$md-sys-spacing-10,
      t.$md-sys-viewport-compact,
      t.$md-sys-viewport-medium
    );

    padding-block: fs.fluid-scale(
      t.$md-sys-spacing-16,
      t.$md-sys-spacing-20,
      t.$md-sys-viewport-compact,
      t.$md-sys-viewport-medium
    );

    h2 {
      @include t.typescale("display-medium");

      font-size: fs.fluid-scale(
        24px,
        t.get-typescale-value("display-medium"),
        t.$md-sys-viewport-compact,
        t.$md-sys-viewport-medium
      );
    }

    .services {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: t.$md-sys-spacing-12;

      width: 100%;

      .tabSelectors {
        display: flex;
        justify-content: center;
        gap: t.$md-sys-spacing-1;

        width: fit-content;
        border-radius: t.$md-sys-shape-corner-value-extra-large;

        background-color: var(--md-sys-color-surface-container-highest);
        color: var(--md-sys-color-on-surface);

        .selectTabBtn {
          position: relative;

          @include t.typescale-emphasized("title-medium");
          font-size: fs.fluid-scale(
            12px,
            t.get-typescale-emphasized-value("title-medium"),
            t.$md-sys-viewport-compact,
            t.$md-sys-viewport-medium
          );
          font-weight: 500;
          padding-inline: fs.fluid-scale(
            t.$md-sys-spacing-2,
            t.$md-sys-spacing-4,
            t.$md-sys-viewport-compact,
            t.$md-sys-viewport-medium
          );
          border-radius: t.$md-sys-shape-corner-value-extra-extra-large;

          background-color: var(--md-sys-color-surface-container-highest);
          color: var(--md-sys-color-on-surface);

          &.active {
            pointer-events: none;

            border-radius: t.$md-sys-shape-corner-value-extra-large;

            background-color: var(--md-sys-color-tertiary);
            color: var(--md-sys-color-on-tertiary);
          }

          &::before {
            content: "";
            pointer-events: none;

            position: absolute;
            inset: 0;

            opacity: 0;

            background-color: var(--md-sys-color-on-surface);
            border-radius: inherit;

            @include t.effects("fast");
            transition-property: opacity;
          }

          &:hover {
            &::before {
              opacity: t.$md-sys-state-hover-state-layer-opacity;
            }
          }

          &:focus-visible {
            outline: 2px solid var(--md-sys-color-surface-container-highest);
            outline-offset: 2px;

            &::before {
              opacity: t.$md-sys-state-focus-state-layer-opacity;
            }
          }

          &:active {
            &::before {
              opacity: t.$md-sys-state-pressed-state-layer-opacity;
            }
          }
        }
      }

      .serviceTab {
        display: grid;
        column-gap: fs.fluid-scale(
          t.$md-sys-spacing-4,
          t.$md-sys-spacing-10,
          t.$md-sys-viewport-medium,
          t.$md-sys-viewport-expanded
        );
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

        width: 100%;

        .serviceCard {
          --line-width: 0;

          position: relative;

          @include t.typescale("title-small");
          padding-block: t.$md-sys-spacing-8;
          padding-inline: t.$md-sys-spacing-4;

          border-top: 1px solid var(--md-sys-color-outline-variant);
          border-bottom: 1px solid var(--md-sys-color-outline-variant);

          &::before,
          &::after {
            content: "";
            pointer-events: none;

            position: absolute;
            left: 0;

            width: var(--line-width);
            height: 2px;

            background-color: var(--md-sys-color-outline);

            @include t.spatial("default");
            transition-property: width;
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }

          &:hover {
            --line-width: 100%;
          }
        }
      }
    }
  }
}
