@use "../../../../shared/styles/tokens/" as t;

.stageList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stageList__item {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  gap: 20px;
}

.stageTitle {
  @include t.typescale-emphasized("title-large");

  color: var(--md-sys-color-tertiary);
  margin-bottom: 12px;
}

.stageDescriptionlist {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .listItem {
    display: flex;
    gap: 3px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
}

.iconStage {
  order: 2;
  justify-self: center;
}
