@use "../../../styles/tokens" as t;
@use "../../../styles/lib/responsive-design/_fluid-scale.scss" as fs;

.textLink {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-block: t.$md-sys-spacing-4;
  padding-inline: t.$md-sys-spacing-6;

  @include t.typescale("title-large");
  height: 56px;
  border-radius: t.$md-sys-shape-corner-value-extra-extra-large;

  color: var(--md-sys-color-tertiary);

  &::before {
    content: "";

    position: absolute;
    inset: 0;

    opacity: 0;
    background: var(--md-sys-color-tertiary);

    @include t.effects("fast");
    transition-property: opacity;
  }

  &:hover {
    &::before {
      opacity: t.$md-sys-state-hover-state-layer-opacity;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--md-sys-color-tertiary);
    outline-offset: 2px;
  }

  &:active::before {
    opacity: t.$md-sys-state-pressed-state-layer-opacity;
  }
}
