$md-ref-breakpoint-compact-min: 280px;
$md-ref-breakpoint-compact-max: 599px;

$md-ref-breakpoint-medium-min: 600px;
$md-ref-breakpoint-medium-max: 839px;

$md-ref-breakpoint-expanded-min: 840px;
$md-ref-breakpoint-expanded-max: 1199px;

$md-ref-breakpoint-large-min: 1200px;
$md-ref-breakpoint-large-max: 1599px;

$md-ref-breakpoint-extra-large-min: 1600px;
