$spacing-base: 4px;

$md-sys-spacing-1: $spacing-base;
$md-sys-spacing-2: $spacing-base * 2;
$md-sys-spacing-3: $spacing-base * 3;
$md-sys-spacing-4: $spacing-base * 4;
$md-sys-spacing-5: $spacing-base * 5;
$md-sys-spacing-6: $spacing-base * 6;
$md-sys-spacing-8: $spacing-base * 8;
$md-sys-spacing-10: $spacing-base * 10;
$md-sys-spacing-12: $spacing-base * 12;
$md-sys-spacing-16: $spacing-base * 16;
$md-sys-spacing-20: $spacing-base * 20;
$md-sys-spacing-24: $spacing-base * 24;
$md-sys-spacing-32: $spacing-base * 32;
$md-sys-spacing-40: $spacing-base * 40;
