$md-sys-motion-spring-fast-spatial-duration: 350ms;
$md-sys-motion-spring-fast-spatial-easing: cubic-bezier(0.42, 1.67, 0.21, 0.9);

$md-sys-motion-spring-default-spatial-duration: 500ms;
$md-sys-motion-spring-default-spatial-easing: cubic-bezier(0.38, 1.21, 0.22, 1);

$md-sys-motion-spring-slow-spatial-duration: 650ms;
$md-sys-motion-spring-slow-spatial-easing: cubic-bezier(0.39, 1.29, 0.35, 0.98);

$md-sys-motion-spring-fast-effects-duration: 150ms;
$md-sys-motion-spring-fast-effects-easing: cubic-bezier(0.31, 0.94, 0.34, 1);

$md-sys-motion-spring-default-effects-duration: 200ms;
$md-sys-motion-spring-default-effects-easing: cubic-bezier(0.34, 0.8, 0.34, 1);

$md-sys-motion-spring-slow-effects-duration: 300ms;
$md-sys-motion-spring-slow-effects-easing: cubic-bezier(0.34, 0.88, 0.34, 1);
