@use "../../../shared/styles/tokens/" as t;
@use "../../../shared/styles/lib/responsive-design/_fluid-scale.scss" as fs;

.footer {
  display: flex;
  flex-direction: column;
  gap: fs.fluid-scale(t.$md-sys-spacing-16, t.$md-sys-spacing-40);

  padding-top: t.$md-sys-spacing-20;

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: t.$md-sys-spacing-12;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: t.$md-ref-breakpoint-medium-max) {
      flex-direction: column;
      gap: t.$md-sys-spacing-6;
    }

    .textBtn {
      position: relative;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      padding-block: t.$md-sys-spacing-4;
      padding-inline: t.$md-sys-spacing-6;

      @include t.typescale("title-large");
      height: 56px;
      border-radius: t.$md-sys-shape-corner-value-extra-extra-large;

      color: var(--md-sys-color-tertiary);

      &::before {
        content: "";

        position: absolute;
        inset: 0;

        opacity: 0;
        background: var(--md-sys-color-tertiary);

        @include t.effects("fast");
        transition-property: opacity;
      }

      &:hover {
        &::before {
          opacity: t.$md-sys-state-hover-state-layer-opacity;
        }
      }

      &:focus-visible {
        outline: 2px solid var(--md-sys-color-tertiary);
        outline-offset: 2px;
      }

      &:active::before {
        opacity: t.$md-sys-state-pressed-state-layer-opacity;
      }
    }

    .copyrightNote {
      @include t.typescale("label-large");

      color: var(--md-sys-color-on-surface-variant);
    }

    .socialMedias {
      display: flex;
      gap: t.$md-sys-spacing-8;

      .socialMediaLink {
        position: relative;
      }

      .icon {
        color: var(--md-sys-color-on-surface-variant);

        @include t.effects("fast");
        transition-property: color;

        &:hover {
          color: var(--md-sys-color-on-surface);
        }
      }
    }
  }
}

.brandName {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;

  @include t.typescale("display-large");

  font-size: fs.fluid-scale(45px, 325px);

  color: var(--md-sys-color-primary);
}
