.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  // background-color: var(--md-sys-color-on-primary);
  // background-color: var(--md-sys-color-primary);
  // background-color: var(--md-sys-color-surface-container-high);
  background-color: var(--md-sys-color-secondary);
  // background-color: var(--md-sys-color-tertiary);

  @media (min-width: 1200px) {
    height: 20px;
    width: 20px;
  }
}
