@use "../../../shared/styles/tokens" as t;
@use "../../../shared/styles/lib/responsive-design/_fluid-scale.scss" as fs;
@use "../../../shared/styles/lib/layout/_projects-layout.scss" as pl;

.main {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  padding: clamp(32px, 5vw, 64px) clamp(16px, 3vw, 40px);

  .title {
    @include t.typescale-emphasized("display-medium");
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: clamp(24px, 40px, 48px);
  }

  .downTitleBlock {
    max-width: 1200px;
    margin: 0 auto;
    padding: clamp(16px, 3vw, 48px);

    .subtitile {
      @include t.typescale("headline-small");
      display: block;
      text-align: left;
      margin-bottom: clamp(8px, 16px, 20px);
    }

    .textList {
    @include t.typescale("body-large");
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: clamp(16px, 2vw, 32px);
  }

    .downText {
      @include t.typescale("title-small");
      display: flex;
      text-align: left;
      margin-top: clamp(24px, 40px, 48px);
    }
  }
}
