@use "../../../shared/styles/tokens" as t;
@use "../../../shared/styles/lib/responsive-design/_fluid-scale.scss" as fs;


.main {
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
	padding: fs.fluid-scale(32px, 64px);

	.title {
		@include t.typescale-emphasized("display-medium");
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: fs.fluid-scale(24px, 48px);
	}

	.downTitleBlock {
		max-width: 1200px;
		margin: 0 auto;
		padding: fs.fluid-scale(16px, 32px);

		.subtitle  {
			@include t.typescale("headline-small");
			display: block;
			text-align: left;
			margin-bottom: fs.fluid-scale(8px, 20px);
		}

		.listItem {
			display: flex;
			align-items: baseline;
			gap: t.$md-sys-spacing-2;
      		flex-direction: column;
			@include t.typescale("body-large");

			@media (max-width: t.$md-ref-breakpoint-medium-max) {
				font-size: fs.fluid-scale(
					t.get-typescale-value("body-medium"),
					t.get-typescale-value("body-large"),
					t.$md-sys-viewport-compact,
					t.$md-ref-breakpoint-medium-max
				);
      		}
		}

		.downText {
			@include t.typescale("title-medium");
			display: flex;
			text-align: left;
			margin-top: fs.fluid-scale(24px, 48px);
		}
	}
}
