@use "sass:map";

@use "../../../app/styles/tokens/typography/" as typo;

/// @param {String} $style - The type scale name ("display-large", "body-medium")
@mixin typescale($style) {
  $scale: map-get(typo.$md-sys-typescale, $style);

  @if $scale {
    font-family: map-get($scale, "font");
    font-size: map-get($scale, "size");
    font-weight: map-get($scale, "weight");
    line-height: map-get($scale, "line-height");
    letter-spacing: map-get($scale, "tracking");
  } @else {
    @error "Unknown type scale: #{$style}";
  }
}

/// @param {String} $style - The type scale name ("display-large", "body-medium")
@mixin typescale-emphasized($style) {
  $scale: map-get(typo.$md-sys-typescale-emphasized, $style);

  @if $scale {
    font-family: map-get($scale, "font");
    font-size: map-get($scale, "size");
    font-weight: map-get($scale, "weight");
    line-height: map-get($scale, "line-height");
    letter-spacing: map-get($scale, "tracking");
  } @else {
    @error "Unknown emphasized type scale: #{$style}";
  }
}
