.circle {
  // background-color: var(--md-sys-color-tertiary);
  // background-color: var(--md-sys-color-surface-container-highest);
  background-color: var(--md-sys-color-surface-container-high);
  // background-color: var(--md-sys-color-primary);

  position: relative;
  max-height: 64px;
  min-width: 64px;
  border-radius: 50%;

  @media (min-width: 1200px) {
    min-height: 96px;
    min-width: 96px;
  }
}

.dotsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.one__two__three__dots {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &.four__dots {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 28px;
    width: 28px;
    gap: 4px;

    @media (min-width: 1200px) {
      width: 44px;
      height: 44px;
    }
  }
}
