// switch to @font-face in the future to remove 3rd party dependency
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kode+Mono:wght@400..700&display=swap");

$md-ref-typeface-brand: "Kode Mono", monospace;
$md-ref-typeface-plain: "JetBrains Mono", monospace;
