@use "typefaces" as *;
@use "baseline-type-scale" as *;
@use "emphasized-type-scale" as *;

@use "sass:map";

/// @param {String} $style - The type scale name (display-large, headline, title, body, label - small to large)
@mixin typescale($style) {
  $scale: map.get($md-sys-typescale, $style);

  @if $scale {
    font-family: map.get($scale, "font");
    font-size: map.get($scale, "size");
    font-weight: map.get($scale, "weight");
    line-height: map.get($scale, "line-height");
    letter-spacing: map.get($scale, "tracking");
  } @else {
    @error "Unknown type scale: #{$style}";
  }
}

/// @param {String} $style - The emphasized type scale name (display-large, headline, title, body, label - small to large)
@mixin typescale-emphasized($style) {
  $scale: map.get($md-sys-typescale-emphasized, $style);

  @if $scale {
    font-family: map.get($scale, "font");
    font-size: map.get($scale, "size");
    font-weight: map.get($scale, "weight");
    line-height: map.get($scale, "line-height");
    letter-spacing: map.get($scale, "tracking");
  } @else {
    @error "Unknown emphasized type scale: #{$style}";
  }
}
