@use "../../../shared/styles/tokens/motion" as motion;
@use "../../../shared/styles/tokens/spacing" as spacing;
@use "../../../shared/styles/tokens/elevation" as elev;
@use "../../../shared/styles/tokens/typography" as typo;
@use "../../../shared/styles/tokens/shape" as shape;

@use "../../../shared/styles/config.scss" as conf;

$horizontal-header-height: spacing.$md-sys-spacing-16;
$nav-rail-width: 360px;
$z-index: 1000;

.header {
  &::after {
    content: "";
    position: fixed;
  }
}

.appBar {
  z-index: $z-index;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: conf.$app-bar-height;
  padding-inline: spacing.$md-sys-spacing-6;
  padding-block: spacing.$md-sys-spacing-3;

  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface);

  .left {
    display: flex;
    align-items: center;
    gap: spacing.$md-sys-spacing-2;

    .menuIcon {
      width: 32px;
      height: 32px;
    }

    .brandName {
      @include typo.typescale("title-large");
    }
  }
}

.navRail {
  z-index: $z-index;
  visibility: hidden;
  pointer-events: none;

  position: fixed;
  left: 0;
  top: conf.$app-bar-height;
  bottom: 0;

  width: $nav-rail-width;
  transform: translateX(-100%);
  opacity: 0;

  background-color: var(--md-sys-color-surface-container);

  transition-property: transform;
  @include motion.effects("slow");

  &.expanded {
    transform: translateX(0);
    // min-width: 220px;
    // max-width: 360px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &Inner {
    display: flex;
    height: 100%;
  }

  .routingNav {
    flex-shrink: 0;

    display: flex;
    justify-content: center;

    @include typo.typescale("label-medium");

    width: 96px;
    padding: spacing.$md-sys-spacing-4;

    color: var(--md-sys-color-on-surface-variant);

    .navItem {
      display: flex;
      flex-direction: column;
      gap: spacing.$md-sys-spacing-1;

      .navIcon {
        width: 32px;
        height: 32px;
      }
    }
  }

  .pageIndex {
    flex-shrink: 0;

    @include typo.typescale-emphasized("title-small");
    font-weight: 500;

    padding: spacing.$md-sys-spacing-4;

    border-left: 1px solid var(--md-sys-color-outline-variant);

    color: var(--md-sys-color-on-surface-variant);

    ul {
      display: flex;
      flex-direction: column;
      gap: spacing.$md-sys-spacing-3;
    }
  }
}
